.bgd-pale-yellow {
  background-color: #ffd884; }

.bgd-pale-green {
  background-color: #8ee3e2; }

.bgd-pale-pink {
  background-color: #ffc2df; }

.bgd-pale-purple {
  background-color: #aeb6ff; }

.bgd-pale-peach {
  background-color: #feb9b2; }

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 2.369rem;
  letter-spacing: 1px; }

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 1.777rem;
  letter-spacing: 1px; }

h3 {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 1.333rem; }

h5 {
  padding: 0;
  margin: 0;
  margin: 0 !important;
  font-size: 1rem; }

p, .card-description {
  font-size: 1rem;
  font-family: "DM Sans", sans-serif; }

html,
body {
  min-height: 100%;
  min-width: 100%;
  overflow-x: hidden;
  margin: 0;
  font-size: 14px; }
  @media (min-width: 768px) {
    html,
    body {
      font-size: 16px; } }

button {
  outline: none;
  border: none;
  background: transparent; }

.desktop-only {
  display: none; }
  @media (min-width: 768px) {
    .desktop-only {
      display: block; } }

.desktop-only-flex {
  display: none; }
  @media (min-width: 768px) {
    .desktop-only-flex {
      display: flex; } }

.mobile-only {
  display: block; }
  @media (min-width: 768px) {
    .mobile-only {
      display: none; } }

.noscroll {
  overflow: hidden; }

.color-border {
  display: flex;
  flex-direction: row;
  flex: 1;
  flex-shrink: 0;
  width: 100%;
  height: 1vh; }
  .color-border div:nth-child(1) {
    height: 1vh;
    flex: 6;
    background-color: #ef60a3; }
  .color-border div:nth-child(2) {
    height: 1vh;
    flex: 5;
    background-color: #2b39bf; }
  .color-border div:nth-child(3) {
    height: 1vh;
    flex: 4;
    background-color: #ea4359; }
  .color-border div:nth-child(4) {
    height: 1vh;
    flex: 3;
    background-color: #58c5c3; }
  .color-border div:nth-child(5) {
    height: 1vh;
    flex: 2;
    background-color: #fec447; }
  .color-border div:nth-child(6) {
    height: 1vh;
    flex: 1;
    background-color: #f38e84; }

nav {
  display: flex;
  flex-direction: row;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  margin: 2rem 1rem; }
  @media (min-width: 576px) {
    nav {
      margin: 2rem 3rem; } }
  nav .active {
    color: #2b39bf;
    font-weight: 500; }
  nav a {
    display: flex; }
  nav img {
    height: 1rem; }
  nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0; }
    nav ul li {
      font-family: "DM Sans", sans-serif;
      font-size: 1rem;
      margin: 0 0.8rem; }
      @media (max-width: 576px) {
        nav ul li {
          font-size: 0.75rem; } }
      nav ul li a {
        color: black;
        text-decoration: none; }
        nav ul li a:hover {
          color: #2b39bf; }
  nav .mobile-menu {
    display: none;
    transition: all 100ms ease-in-out;
    transform: scaleY(0);
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5000;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
    nav .mobile-menu.show {
      display: flex;
      transform: scaleY(1); }
    nav .mobile-menu.exit {
      transform: scaleY(0) !important; }
    nav .mobile-menu .mobile-menu-background {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: white;
      opacity: 0.9;
      z-index: -1; }
    nav .mobile-menu .mobile-menu-content {
      display: flex;
      flex-direction: column; }
      nav .mobile-menu .mobile-menu-content ul {
        flex-direction: column; }
        nav .mobile-menu .mobile-menu-content ul li {
          font-size: 1.777rem;
          padding: 1rem 0; }
      nav .mobile-menu .mobile-menu-content #mobile-menu-close {
        outline: none;
        border: none;
        background: transparent 0px;
        padding-top: 2rem;
        font-size: 1.777rem;
        align-self: center;
        color: #ea4359; }

.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
  typing 3.5s steps(40, end),
  blink-caret .75s step-end infinite;
}

/*
body {
  background: #333;
  color: #fff;
  font-family: monospace;
  padding-top: 5em;
  display: flex;
  justify-content: center;
}
*/

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: blue; }
}

.mainView {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  margin: 0 1.3rem;
  margin-bottom: 4vh; }
  @media (min-width: 576px) {
    .mainView {
      flex-direction: row;
      justify-content: space-around;
      margin-bottom: 10vh; } }
  .mainView img {
    max-width: 60vw;
    align-self: center;
    margin: 0 auto;
    padding: 2rem; }
    @media (min-width: 576px) {
      .mainView img {
        max-width: auto;
        max-height: 60vh;
        margin: 0;
        padding: 0; } }
  .mainView .mainview-text {
    display: flex;
    flex-direction: column;
    color: #2b39bf;
    font-family: "DM Sans", sans-serif;
    align-self: flex-start;
    padding-bottom: 1rem; }
    @media (min-width: 576px) {
      .mainView .mainview-text {
        align-self: center;
        padding: 0;
        padding-left: 1rem; } }
    @media (min-width: 1200px) {
      .mainView .mainview-text {
        padding-left: 0px; } }
    .mainView .mainview-text h1 {
      font-size: 3rem; }
      @media (max-width: 576px) {
        .mainView .mainview-text h1 {
          font-size: 2rem; } }
    .mainView .mainview-text h5,
    .mainView .mainview-text p,
    .mainView .mainview-text .card-description {
      max-width: 25em; }
    .mainView .mainview-text .details {
      font-weight: bold; }
    .mainView .mainview-text button {
      width: 170px;
      padding: 10px 20px;
      background-color: #ef60a3;
      border-radius: 5px;
      font-family: "DM Sans", sans-serif;
      color: white;
      font-size: 1rem;
      font-weight: bold;
      border: none !important;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
      transition: scale 0.2s ease-in-out; }
      .mainView .mainview-text button:hover {
        cursor: pointer;
        transform: scale(1.1); }

.info-section .info-header {
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-shrink: 0;
  padding: 0 1.3rem;
  background-color: #2b39bf;
  position: relative;
  margin-top: 10vw;
  padding: 0 5rem 2rem 5rem !important; }
  @media (min-width: 768px) {
    .info-section .info-header {
      padding: 0 1.3rem; } }
  @media (max-width: 576px) {
    .info-section .info-header {
      padding: 0 1.5rem 2rem 1.5rem !important; } }
  .info-section .info-header::before {
    content: " ";
    background-image: url("../assets/wave-imgs/bluewave-clip.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 13vw;
    top: -12.6vw;
    left: 0;
    width: 100vw;
    position: absolute; }
  .info-section .info-header::after {
    content: " ";
    background-color: #2b39bf;
    height: 10vh;
    width: 100vw;
    position: absolute;
    bottom: -9.9vh;
    left: 0;
    z-index: -1; }
  @media (min-width: 768px) {
    .info-section .info-header::after {
      display: block; } }
  .info-section .info-header .info-view-text {
    color: white;
    line-height: 25px; }
    .info-section .info-header .info-view-text h2 {
      margin: 0 0 2rem 0;
      padding-top: 2vh;
      font-size: 2.369rem;
      line-height: 3rem; }
      @media (max-width: 576px) {
        .info-section .info-header .info-view-text h2 {
          font-size: 2rem;
          margin-top: 2rem; } }
    @media (min-width: 768px) {
      .info-section .info-header .info-view-text {
        max-width: 600px !important; } }
  .info-section .info-header p, .info-section .info-header .card-description {
    font-weight: 400; }
  @media (max-width: 576px) {
    .info-section .info-header {
      margin-top: 5rem; } }

.info-section .card-group {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #2b39bf;
  padding: 0 1.3rem;
  padding-bottom: 2rem; }
  @media (min-width: 768px) {
    .info-section .card-group {
      padding: 0 1.3rem; } }
  @media (min-width: 768px) {
    .info-section .card-group {
      background-color: transparent;
      flex-direction: row;
      flex-wrap: nowrap;
      padding: 0; } }
  .info-section .card-group h3 {
    text-transform: uppercase;
    color: #2b39bf;
    font-weight: 800; }

.tracks-section .tracks-header {
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-shrink: 0;
  padding: 0 1.3rem;
  background-color: #ff90a0;
  position: relative;
  padding: 0 5rem 2rem 5rem !important; }
  @media (min-width: 768px) {
    .tracks-section .tracks-header {
      padding: 0 1.3rem; } }
  @media (max-width: 576px) {
    .tracks-section .tracks-header {
      padding: 0 1.5rem 2rem 1.5rem !important; } }
  @media (max-width: 576px) {
    .tracks-section .tracks-header h2 {
      font-size: 2rem !important; } }
  .tracks-section .tracks-header::before {
    content: " ";
    background-image: url("../assets/wave-imgs/peachwave-clip.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 13vw;
    top: -12.6vw;
    left: -5px;
    right: -5px;
    width: calc(100vw + 10px);
    position: absolute; }
  .tracks-section .tracks-header::after {
    content: " ";
    background-color: #ff90a0;
    height: 15vh;
    width: 100vw;
    position: absolute;
    bottom: -14.9vh;
    left: 0;
    z-index: -1; }
  @media (min-width: 768px) {
    .tracks-section .tracks-header::after {
      display: block; } }
  .tracks-section .tracks-header .tracks-view-text {
    color: black;
    margin-top: 2rem; }
    .tracks-section .tracks-header .tracks-view-text h2 {
      font-size: 2.369rem;
      font-weight: 900; }
    @media (min-width: 768px) {
      .tracks-section .tracks-header .tracks-view-text {
        max-width: 55vw; } }

.tracks-section .card-group {
  display: flex;
  flex-direction: column;
  background-color: #ff90a0;
  padding: 0 1.3rem; }
  @media (min-width: 768px) {
    .tracks-section .card-group {
      padding: 0 1.3rem; } }
  @media (min-width: 768px) {
    .tracks-section .card-group {
      background-color: transparent;
      flex-direction: row;
      flex-wrap: nowrap;
      padding: 0; } }
  .tracks-section .card-group .card .card-header img {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    height: 3rem;
    width: auto; }
  .tracks-section .card-group .card p, .tracks-section .card-group .card .card-description {
    width: 90%; }
  @media (min-width: 768px) {
    .tracks-section .card-group .card p, .tracks-section .card-group .card .card-description {
      width: auto; } }
  .tracks-section .card-group h3 {
    text-transform: uppercase;
    color: #ff90a0;
    font-weight: 800; }

.characters-view {
  max-width: 100vw; }

#description {
  margin: 0 5rem 4rem 5rem;
  line-height: 25px; }
  @media (max-width: 576px) {
    #description {
      margin: 0 2rem 4rem 2rem; } }

.characters-section {
  margin-top: 50px; }
  .characters-section h1 {
    color: #2b39bf;
    margin-left: 5rem;
    font-size: 3rem; }
    @media (max-width: 576px) {
      .characters-section h1 {
        font-size: 2rem !important;
        margin-left: 0;
        text-align: center; } }

.characters-view {
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-shrink: 0;
  overflow-x: auto; }

.web-carousel, .mobile-carousel {
  display: flex;
  flex-direction: row;
  flex: 1;
  flex-shrink: 0;
  width: fit-content;
  min-width: 100%;
  align-items: flex-end;
  margin-top: -2rem; }
  .web-carousel .active p, .mobile-carousel .active p, .web-carousel .active .card-description, .mobile-carousel .active .card-description {
    color: black;
    font-weight: 800 !important; }
  .web-carousel .inactive img, .mobile-carousel .inactive img,
  .web-carousel .inactive p,
  .mobile-carousel .inactive p,
  .web-carousel .inactive .card-description,
  .mobile-carousel .inactive .card-description {
    opacity: 0.5 !important; }
  .web-carousel .inactive :hover, .mobile-carousel .inactive :hover {
    opacity: 1;
    transition: 0.5s; }
  .web-carousel .option, .mobile-carousel .option {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0rem 2rem;
    align-items: center; }
    .web-carousel .option:nth-child(1) rect, .mobile-carousel .option:nth-child(1) rect {
      height: 8px;
      width: 9rem;
      background-color: #fec447; }
    .web-carousel .option:nth-child(2) rect, .mobile-carousel .option:nth-child(2) rect {
      height: 8px;
      width: 9rem;
      background-color: #58c5c3; }
    .web-carousel .option:nth-child(3) rect, .mobile-carousel .option:nth-child(3) rect {
      height: 8px;
      width: 9rem;
      background-color: #ef60a3; }
    .web-carousel .option:nth-child(4) rect, .mobile-carousel .option:nth-child(4) rect {
      height: 8px;
      width: 9rem;
      background-color: #2b39bf; }
    .web-carousel .option:nth-child(5) rect, .mobile-carousel .option:nth-child(5) rect {
      height: 8px;
      width: 9rem;
      background-color: #ea4359; }
    .web-carousel .option rect, .mobile-carousel .option rect {
      margin-top: 1.5rem; }
    .web-carousel .option img, .mobile-carousel .option img {
      height: 350px; }
    .web-carousel .option p, .mobile-carousel .option p, .web-carousel .option .card-description, .mobile-carousel .option .card-description {
      font-family: "Montserrat", sans-serif; }

.web-carousel-footer, .mobile-carousel-footer {
  height: 30rem; }
  .web-carousel-footer .inactive, .mobile-carousel-footer .inactive {
    display: none !important; }
  .web-carousel-footer .character-card, .mobile-carousel-footer .character-card {
    height: fit-content;
    width: fit-content; }
    .web-carousel-footer .character-card svg, .mobile-carousel-footer .character-card svg {
      align-self: flex-start;
      margin-left: 3rem;
      margin-bottom: -2rem;
      z-index: -1; }
    .web-carousel-footer .character-card svg, .mobile-carousel-footer .character-card svg,
    .web-carousel-footer .character-card path,
    .mobile-carousel-footer .character-card path {
      z-index: -1; }
    .web-carousel-footer .character-card p, .mobile-carousel-footer .character-card p, .web-carousel-footer .character-card .card-description, .mobile-carousel-footer .character-card .card-description {
      font-size: 0.9rem;
      font-weight: 400;
      line-height: 1.25rem; }

.disable-scrollbars {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */ }
  .disable-scrollbars::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    /* Chrome/Safari/Webkit */ }

.card-content {
  display: flex;
  flex-direction: column;
  width: 20rem;
  padding: 1rem;
  margin: 0 3rem;
  border-radius: 10px;
  z-index: 1;
  background-color: #ffd884;
  margin-bottom: 3rem; }
  .card-content h3 {
    font-weight: 600; }
  .card-content span {
    font-weight: 800; }

.characters-mobile-section h1 {
  color: #2b39bf;
  text-align: center;
  margin-top: 5rem;
  font-size: 2rem; }
.about-transition{
	background:linear-gradient(to left bottom, white 49.5%, #67c5e7 50%);
	height:7vh
}
.industries-transition{
	background:linear-gradient(to left bottom, #67c5e7 49.5%, white 50%);
	height:7vh
}
.industries-section{
	background:#67c5e7
}
.industries-section .industries-title{
	color:#302e75
}
@keyframes scroll{
	0%{
		-webkit-transform:translateX(0);
		transform:translateX(0)
}
	100%{
		transform:translateX(calc(-250px * 8))
}
}
.industries-section .slider{
	display:flex;
	margin:auto;
	overflow:hidden;
	position:relative;
	width:100%
}
@media (max-width: 767.98px){
	.industries-section .slider{
		overflow-x:auto
}
}
.industries-section .slider .slide-track{
	animation:scroll 90s linear infinite;
	display:-webkit-box;
	display:flex;
	justify-content:center;
	align-items:center;
	min-height:500px
}
.industries-section .slide{
	width:calc(250px * 2);
	height:500px;
	flex-shrink:0;
	display:flex;
	flex-wrap:wrap;
	flex-direction:column;
	justify-content:space-around
}
.industries-section .holder{
	width:250px;
	height:100%;
	display:flex;
	align-items:center;
	flex-direction:column;
	justify-content:space-around
}
.industries-section .slider-image{
	margin:25px;
	height:140px;
	width:140px;
	box-shadow:0 8px 16px rgba(30,56,68,0.19);
	border:white 20px solid;
	border-radius:50%;
	background-color:white;
	transition:transform 0.25s
}
.industries-section .slider-image:hover{
	-ms-transform:scale(1.1);
	-webkit-transform:scale(1.1);
	transform:scale(1.1);
	cursor:pointer
}
.industries-section .up{
	animation:floatup 2s 0.15s ease-in-out alternate infinite
}
.industries-section .up:nth-child(2n){
	animation:floatup 2s 0.15s ease-in-out alternate infinite;
	animation-delay:1s
}
@keyframes floatup{
	0%{
		transform:translate3d(0px, 0px, 0)
}
	100%{
		transform:translate3d(0px, 4px, 0)
}
}
.industries-section .down{
	animation:floatdown 2s 0s ease-in-out alternate infinite
}
.industries-section .down:nth-child(2n){
	animation:floatdown 2s 0s ease-in-out alternate infinite;
	animation-delay:1s
}
@keyframes floatdown{
	0%{
		transform:translate3d(0px, 0px, 0)
}
	100%{
		transform:translate3d(0px, -4px, 0)
}
}
.industry-description h6{
	font-size:1.1rem
}
.industry-icon-tooltip{
	font-size:1.25em !important
}
.mobile-carousel {
  margin-left: -100vw;
  overflow-x: hidden;
  transition: 0.5s; }
  .mobile-carousel .option {
    padding: 0rem;
    width: 60vw;
    transition: 0.5s; }
  .mobile-carousel img {
    padding: 0 3rem;
    height: 350px;
    margin-top: -10px;
    transition: 0.5s; }
  .mobile-carousel .option rect {
    width: 90%;
    height: 8px;
    margin-top: 0; }

.mobile-carousel-footer svg {
  margin-left: 50%;
  margin-bottom: -30px;
  transform: translateX(-50%);
  z-index: -1; }

.mobile-carousel-footer .card-content {
  margin: 0 1.5rem 3rem 1.5rem;
  padding: 2rem;
  width: auto;
  background-color: #ffd884; }

.schedule-section h2 {
  font-size: 2.369rem;
  color: #2b39bf;
  margin-top: 0; }
  @media (min-width: 992px) {
    .schedule-section h2 {
      font-size: 3rem; } }

.schedule-section .date {
  font-size: 1.333rem;
  margin: 0.5rem 0;
  font-weight: 600; }

.schedule-section .events-container {
  margin-top: 1rem; }
  .schedule-section .events-container .event {
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    margin: 8px 0;
    padding: 0.25rem 0; }
    .schedule-section .events-container .event .event-name,
    .schedule-section .events-container .event .event-time {
      font-family: "DM Sans", sans-serif; }

.schedule-section .schedule-desktop {
  padding: 0 1.3rem;
  display: none;
  margin: 15vh 0 10vh 0;
  justify-content: space-between; }
  @media (min-width: 768px) {
    .schedule-section .schedule-desktop {
      padding: 0 1.3rem; } }
  @media (min-width: 768px) {
    .schedule-section .schedule-desktop {
      display: flex; } }
  @media (min-width: 992px) {
    .schedule-section .schedule-desktop {
      padding: 0 5rem !important; } }
  .schedule-section .schedule-desktop .pane {
    width: 45%;
    margin: 0 2rem; }
  .schedule-section .schedule-desktop .calday {
    border-top: 8px solid #ef60a3;
    width: 100%; }
    .schedule-section .schedule-desktop .calday h3 {
      color: #ef60a3;
      margin: 0;
      margin-bottom: 0.5rem;
      margin-top: 1rem;
      font-size: 2.369rem; }

.schedule-section .schedule-mobile {
  margin-top: 5vh;
  display: block; }
  @media (min-width: 768px) {
    .schedule-section .schedule-mobile {
      display: none; } }
  @media (max-width: 576px) {
    .schedule-section .schedule-mobile .date {
      font-size: 1rem !important; } }
  .schedule-section .schedule-mobile h2 {
    text-align: center;
    width: 100%;
    font-size: 1.75rem !important; }
  .schedule-section .schedule-mobile #day-selector {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative; }
    .schedule-section .schedule-mobile #day-selector .day {
      width: 50%;
      outline: none;
      border: none;
      background: transparent;
      padding: 0;
      padding-bottom: 0px;
      padding-bottom: 1.5rem;
      font-size: 1.777rem;
      font-weight: 900;
      color: #ef60a3;
      font-family: "Montserrat", sans-serif;
      opacity: 0.5;
      border-bottom: 1px #d8d8d8 solid;
      cursor: pointer;
      transition: 0.2s all ease-in-out; }
      .schedule-section .schedule-mobile #day-selector .day:hover, .schedule-section .schedule-mobile #day-selector .day.active {
        opacity: 1; }
      @media (max-width: 576px) {
        .schedule-section .schedule-mobile #day-selector .day {
          font-size: 1.25rem; } }
    .schedule-section .schedule-mobile #day-selector #active-day-marker {
      width: 50%;
      height: 10%;
      position: absolute;
      bottom: 0%;
      left: 0;
      background-color: #ef60a3;
      transition: all 0.2s ease-in-out; }
      .schedule-section .schedule-mobile #day-selector #active-day-marker.day2 {
        left: 50%; }
  .schedule-section .schedule-mobile #day-panes {
    position: relative; }
    .schedule-section .schedule-mobile #day-panes .calday {
      padding: 2rem 1.3rem;
      transition: all 0.2s ease-in-out;
      position: absolute; }
      @media (min-width: 768px) {
        .schedule-section .schedule-mobile #day-panes .calday {
          padding: 2rem 1.3rem; } }
      .schedule-section .schedule-mobile #day-panes .calday.active {
        position: relative;
        transform: translateX(0) !important;
        display: block; }
    .schedule-section .schedule-mobile #day-panes #day1-pane {
      transform: translateX(-1000%); }
    .schedule-section .schedule-mobile #day-panes #day2-pane {
      transform: translateX(1000%); }

.join-section .join-header {
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-shrink: 0;
  padding: 0 1.3rem;
  background-color: #ff90a0;
  color: white;
  position: relative;
  margin-top: 10vw;
  padding: 5rem 5rem 2rem 5rem !important; }
  @media (min-width: 768px) {
    .join-section .join-header {
      padding: 2rem 2rem; } }
  @media (max-width: 576px) {
    .join-section .join-header {
      padding: 0 1.5rem 2rem 1.5rem !important; } }
  .join-section .join-header::before {
    content: " ";
    background-image: url("../assets/wave-imgs/peachwave-clip.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 13vw;
    top: -12.6vw;
    left: 0;
    width: 100vw;
    position: absolute; }
  .join-section .join-header::after {
    content: " ";
    background-color: #ff90a0;
    height: 20vh;
    width: 100vw;
    position: absolute;
    bottom: -19.9vh;
    left: 0;
    z-index: -1; }
  .join-section .join-header .join-view-text {
    max-width: 750px;
    margin-top: -5vw;
    z-index: 1; }
    .join-section .join-header .join-view-text h2 {
      font-size: 2.369rem !important; }
  @media (min-width: 768px) {
    .join-section .join-header::after {
      display: block; } }
  .join-section .join-header .info-view-text {
    color: white;
    line-height: 25px; }
    .join-section .join-header .info-view-text h2 {
      margin: 0 0 2rem 0;
      padding-top: 2vh;
      font-size: 2.369rem;
      line-height: 3rem;
      font-weight: 900; }
      @media (max-width: 576px) {
        .join-section .join-header .info-view-text h2 {
          font-size: 2rem;
          margin-top: 2rem; } }
    @media (min-width: 768px) {
      .join-section .join-header .info-view-text {
        max-width: 600px !important; } }
  .join-section .join-header p, .join-section .join-header .card-description {
    font-weight: 400; }
  @media (max-width: 576px) {
    .join-section .join-header {
      margin-top: 5rem; } }

@media (min-width: 768px) {
  .join-section .card {
    width: 40vw; } }

.join-section .card .join-btn {
  display: block;
  width: fit-content;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
  border-radius: 0.5rem;
  color: white;
  background: #ef60a3;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); }

.join-section .card-group {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #ff90a0;
  padding: 0 1.3rem;
  padding-bottom: 2rem; }
  @media (min-width: 768px) {
    .join-section .card-group {
      padding: 0 1.3rem; } }
  @media (min-width: 768px) {
    .join-section .card-group {
      background-color: transparent;
      flex-direction: row;
      flex-wrap: nowrap;
      padding: 0; } }
  .join-section .card-group h3 {
    text-transform: uppercase;
    color: #ff90a0;
    font-weight: 900; }

.sponsors-section {
  background-color: #ff90a0;
  color: white;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 3vh 1.3rem;
  padding-top: 2rem;
  padding-bottom: 2rem; }
  @media (min-width: 768px) {
    .sponsors-section {
      margin-top: 10vh; } }
  @media (min-width: 768px) {
    .sponsors-section {
      padding: 8vh 1.3rem; } }
  .sponsors-section h2 {
    width: 50%;
    min-width: 30rem;
    border-bottom: 1px solid white;
    text-align: center;
    font-size: 3rem;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
    margin-left: 50%;
    transform: translateX(-50%); }
    @media (max-width: 576px) {
      .sponsors-section h2 {
        font-size: 2rem;
        min-width: 20rem; } }
  .sponsors-section .sponsors-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem; }
    .sponsors-section .sponsors-container .sponsor {
      width: fit-content;
      border-radius: 10%;
      margin: 0.5rem;
      padding: 0 2rem; }
      .sponsors-section .sponsors-container .sponsor img {
        height: 4rem;
        width: auto; }
    .sponsors-section .sponsors-container.big .sponsor {
      padding: 0 3rem; }
      .sponsors-section .sponsors-container.big .sponsor img {
        height: 4rem;
        max-height: 300px; }
        @media (min-width: 576px) {
          .sponsors-section .sponsors-container.big .sponsor img {
            height: 6rem;
            max-height: 100%; } }
      .sponsors-section .sponsors-container.big .sponsor #facebook {
        margin-top: 3rem; }
        @media (min-width: 576px) {
          .sponsors-section .sponsors-container.big .sponsor #facebook {
            margin-top: 0rem;
            height: 5.5rem; } }

footer {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3vh 1.3rem;
  padding-top: 3vh;
  padding-bottom: 3vh; }
  @media (min-width: 768px) {
    footer {
      flex-direction: row;
      align-items: start; } }
  @media (min-width: 768px) {
    footer {
      padding: 6vh 1.3rem; } }
  footer .group {
    width: 100%;
    margin: 2rem 0; }
    @media (min-width: 768px) {
      footer .group {
        width: auto;
        margin: 0 2rem; } }
  footer h2 {
    margin: 0;
    margin-bottom: 1rem;
    font-size: 0.75rem;
    font-family: "DM Sans", sans-serif; }
    @media (max-width: 576px) {
      footer h2 {
        font-size: 0.75rem !important; } }
  footer .logo-group {
    margin-right: auto; }
    footer .logo-group .footer-flair-text,
    footer .logo-group .footer-socials {
      color: #666666;
      font-weight: 400;
      font-size: 0.75rem; }
    footer .logo-group .footer-flair-text {
      margin-top: 0.5rem; }
    footer .logo-group .footer-socials {
      margin-top: 1.5rem; }
    footer .logo-group .footer-socials a {
      text-decoration: none;
      padding-right: 1rem;
      font-size: 1.333rem; }
  @media (max-width: 576px) {
    footer .links-group {
      margin-top: 2rem; } }
  footer .links-group ul {
    list-style: none;
    padding: 0; }
    footer .links-group ul li {
      font-family: "DM Sans", sans-serif;
      padding: 16px 0; }
      @media (max-width: 576px) {
        footer .links-group ul li {
          padding: 5px 0px !important; } }
      footer .links-group ul li a {
        color: black;
        text-decoration: none; }
        footer .links-group ul li a:hover {
          color: #2b39bf; }
  footer .team-group .team-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 50vw; }
    @media (min-width: 768px) {
      footer .team-group .team-container {
        max-width: 20vw; } }
    footer .team-group .team-container .team-member-pic {
      height: 2rem;
      width: 2rem;
      margin: 0.5rem;
      border-radius: 100%;
      background-size: cover;
      cursor: pointer; }
      footer .team-group .team-container .team-member-pic:nth-child(1) {
        background-image: url("../assets/team/1.png"); }
      footer .team-group .team-container .team-member-pic:nth-child(2) {
        background-image: url("../assets/team/2.png"); }
      footer .team-group .team-container .team-member-pic:nth-child(3) {
        background-image: url("../assets/team/3.png"); }
      footer .team-group .team-container .team-member-pic:nth-child(4) {
        background-image: url("../assets/team/4.png"); }
      footer .team-group .team-container .team-member-pic:nth-child(5) {
        background-image: url("../assets/team/5.png"); }
      footer .team-group .team-container .team-member-pic:nth-child(6) {
        background-image: url("../assets/team/6.png"); }
      footer .team-group .team-container .team-member-pic:nth-child(7) {
        background-image: url("../assets/team/7.png"); }
      footer .team-group .team-container .team-member-pic:nth-child(8) {
        background-image: url("../assets/team/8.png"); }
      footer .team-group .team-container .team-member-pic:nth-child(9) {
        background-image: url("../assets/team/9.png"); }
      footer .team-group .team-container .team-member-pic:nth-child(10) {
        background-image: url("../assets/team/10.png"); }
      footer .team-group .team-container .team-member-pic:nth-child(11) {
        background-image: url("../assets/team/11.png.html"); }
      footer .team-group .team-container .team-member-pic:nth-child(12) {
        background-image: url("../assets/team/12.png.html"); }
      footer .team-group .team-container .team-member-pic:nth-child(13) {
        background-image: url("../assets/team/13.png.html"); }

.color-border-footer {
  display: flex;
  flex-direction: row;
  flex: 1;
  flex-shrink: 0;
  width: 100%;
  height: 3vh; }
  .color-border-footer div:nth-child(1) {
    height: 3vh;
    flex: 6;
    background-color: #ef60a3; }
  .color-border-footer div:nth-child(2) {
    height: 3vh;
    flex: 5;
    background-color: #2b39bf; }
  .color-border-footer div:nth-child(3) {
    height: 3vh;
    flex: 4;
    background-color: #ea4359; }
  .color-border-footer div:nth-child(4) {
    height: 3vh;
    flex: 3;
    background-color: #58c5c3; }
  .color-border-footer div:nth-child(5) {
    height: 3vh;
    flex: 2;
    background-color: #fec447; }
  .color-border-footer div:nth-child(6) {
    height: 3vh;
    flex: 1;
    background-color: #f38e84; }

.flex-spacing {
  flex: 1; }

.mainTextBold {
  font-family: "DM Sans", sans-serif;
  font-weight: 500; }

body {
  display: flex;
  flex-direction: column; }

.card {
  transition: all 0.2s ease-in-out; }
  .card:hover {
    transform: scale(1.1); }

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 150px;
  padding: 1.5rem;
  margin: 1.3rem 0.5rem;
  background-color: white;
  border-radius: 10.1639px;
  box-shadow: 0px 4.06557px 25.4098px rgba(0, 0, 0, 0.2); }
  @media (min-width: 768px) {
    .card {
      width: 25vw;
      margin: 1.3rem 1rem; } }
  @media (min-width: 992px) {
    .card {
      margin: 1.3rem 2rem; } }

.card-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center; }
  .card-header div {
    width: 66px;
    height: fit-content; }
  .card-header img {
    height: 51px; }
